
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <h2><a href= "/users">Home</a></h2> <h2><a href= "/users/habits">Habits</a> <h2><a href= "/users/tasks">Tasks</a></h2> <h2><a href= "/users/all">All</a>
    </nav> 
    <div>
        <h1><%= habit.name %></h1>
        <form action="/users/habit/<%= habit._id %>?_method=PUT" method="POST">   
            <label><%= habit.name %>
                <input type="text" name="habitName" >
            </label> <br>
            <label><%= habit.amount %> 
                <input type="text" name="habitAmount" >
            </label> <br>
            <label> <%= habit.daily %>  
            <select name="habitDaily">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
            </select><br>
            </label>
          <button type="submit">Edit Habit</button>
        </form>
    </div>
        <form action="/users/habit/delete/<%= habit._id %>?_method=DELETE"  
            class="delete-form" method="POST">
          <button type="submit">Delete Habit</button>
        </form> 
</body>
</html>