<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal ">
        <a href="/users"class="left brand-logo">&nbsp;&nbsp;Habit App</a>
        <ul class="right">
          <li><a href="/users">Home</a></li>
          <li><a href="/users/habits">Habits</a></li>
          <li><a href="/users/tasks">Tasks</a></li>
          <li><a href="/users/all">All</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <div>
      <div>
        <h3 class="center">All Habits</h3>
        <% person.roles.forEach(function(role) { %>
        <%  if(role.habits.length > 0 && role.habits != undefined){ %>
        <h5><%= role.name %></h5>
        <hr />
        <%  } %>
        <% role.habits.forEach(function(habit) { %>
        <div>
          <a href="/users/habit/<%= habit._id %>" class="row valign-wrapper">
            <div class="col s6 m6 l8"><%= habit.name %>: <%= habit.amount %> </div>
            <% if(calculateStreak(habit.completed_dates) > 0) { %>
              <div class="streak-active col s1 m1 l1 valign-wrapper">
                <i class="material-icons">whatshot</i>  <%= calculateStreak(habit.completed_dates) %>
              </div>
            <% } else { %>
              <div class="streak-inactive col s1 m1 l1 valign-wrapper">
                <i class="material-icons">whatshot</i>  <%= calculateStreak(habit.completed_dates) %>
              </div>
            <% } %>
            <div class="col s3 m3 l2 ">
              <% if(habit.completed == true) { %>
              <form action="/users/habit/incomplete/<%= habit._id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-block"> Complete </button>
              </form>
              <% } else { %>
              <form action="/users/habit/complete/<%= habit._id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-block grey"> Incomplete </button>
              </form>
              <% }  %>
            </div>
            <div class="col s2 m2 l1">
              <form action="/users/habit/delete/<%= habit._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit" class="btn red lighten-2"> Delete</button>
              </form>
            </div>
          </a>
        </div>
        <% }) %>
        <% }); %>
      </div>
    </div>
  </div>

</body>
</html>