
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal ">
        <a href="/users"class="left brand-logo">&nbsp;&nbsp;Habit App</a>
        <ul class="right">
          <li><a href="/users">Home</a></li>
          <li><a href="/users/habits">Habits</a></li>
          <li><a href="/users/tasks">Tasks</a></li>
          <li><a href="/users/all">All</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <h3 class="center"><%= habit.name %></h3>
    <div class="row">
      <form action="/users/habit/<%= habit._id %>?_method=PUT" method="POST">
        <label class="col s3"> Name
          <input type="text" name="habitName" value=<%= habit.name %> required>
        </label> 
        <label class="col s3"> Amount
          <input type="text" name="habitAmount">
        </label> <br>
        <!-- <label>
          <select name="habitDaily">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
          </select>
        </label> -->
        <div class="col s3">
          <button type="submit" class="btn">Edit Habit</button>
        </div>
      </form>
      <div class="col s3">
        <form action="/users/habit/delete/<%= habit._id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit" class="btn red lighten-2">Delete Habit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="card center col s6">
        <h6>Days Completed: <%= habit.completed_dates.length %></h6>
      </div>
      <div class="card center col s6">
        <h6>Streak: <%= calculateStreak(habit.completed_dates) %></h6>
      </div>
    </div>
    <div class="row">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Completion Log:</h5></li>
        <% if (habit.completed_dates.length > 0) { %>
          <% for (let i = habit.completed_dates.length-1; i>=0; i--) { %>
            <li class="collection-item"><div><i class="material-icons tiny">access_time</i> <%= habit.completed_dates[i] %></div></li>  
          <% } %>
        <% } else { %>
          <li class="collection-item">This activity has never been completed. :(</li>
        <% } %>
    </ul>

    </div>
    
  
  
  </div>
</body>
</html>