<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal">
            <a href="/users"class="left brand-logo">&nbsp;&nbsp;Habit App</a>
            <ul class="right">
              <li><a href="/users">Home</a></li>
              <li><a href="/users/habits">Habits</a></li>
              <li><a href="/users/tasks">Tasks</a></li>
              <li><a href="/users/all">All</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
    </header>

    <div class="container">
        <h3 class="center"><%= role.name %></h3>

        <h5>Habits</h5>
        <hr/>
        <% role.habits.forEach(function(habit) { %>
        <div>
            <a href="/users/habit/<%= habit._id %>" class="row valign-wrapper">
                <div class="col s6 m6 l8"><%= habit.name %>: <%= habit.amount %> </div>
                <% if(calculateStreak(habit.completed_dates) > 0) { %>
                    <div class="streak-active col s1 m1 l1 valign-wrapper">
                      <i class="material-icons">whatshot</i>  <%= calculateStreak(habit.completed_dates) %>
                    </div>
                  <% } else { %>
                    <div class="streak-inactive col s1 m1 l1 valign-wrapper">
                      <i class="material-icons">whatshot</i>  <%= calculateStreak(habit.completed_dates) %>
                    </div>
                  <% } %>
                <div class="col s3 m3 l2">
                    <% if(habit.completed == true) { %>
                    <form action="/users/habit/incomplete/<%= habit._id %>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-block"> Complete </button>
                    </form>
                    <% } else { %>
                    <form action="/users/habit/complete/<%= habit._id %>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-block grey"> Incomplete </button>
                    </form>
                    <% }  %>
                </div>
                <div class="col s2 m2 l2">
                    <form action="/users/habit/delete/<%= habit._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit" class="btn red lighten-2"> Delete</button>
                    </form>
                </div>
            </a>
            
        </div>
        
        <% }) %>
        <br>
        <div class="row">
            <form action="/users/habit/new/<%= role._id %>" method="POST">
                <label class="col s5">Name
                    <input placeholder="New Habit" type="text" name="habitName">
                </label> 
                <label class="col s4">Amount
                    <input placeholder="5 Minutes" type="text" name="habitAmount">
                </label> <br>
                <!-- <select name="habitDaily">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                </select><br> -->
                <div class="col s3">
                    <button type="submit" class="btn">Add Habit</button>
                </div>
            </form>
        </div>
    
    
        <h5>Tasks</h5>
        <hr/>
        <% role.tasks.forEach(function(task) { %>
        <ul >
            <li class="row valign-wrapper"> 
                <div class="col s9">
                    <%= task.name %>
                </div>
                <div class="col s3">
                    <form action="/users/task/delete/<%= task._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit" class="btn grey"> Complete Task</button>
                    </form>
                </div>
            </li>
            <% }); %>
        </ul>
        <div>
            <div class="row">
                <form action="/users/task/new/<%= role._id %>" method="POST">
                    <label class="col s9">Name
                        <input placeholder="New Task" type="text" name="taskName">
                    </label>
                    <br>
                    <div class="col s3">
                        <button type="submit" class="btn">Add Task</button>
                    </div> 
                </form>
            </div>
            <div class="row">
                <form action="/users/delete/<%= role._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit" class="btn red lighten-2 col s12">Delete Role</button>
                </form>
            </div>
        </div>
    
    
    </div>
</body>
</html>

